@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

// variables

$c1: #4ECCA3;
$c2: #393E46;

body {
  background-color: $c2;
  font-family: 'Press Start 2P', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.dice {
  text-align: center;
  display: inline-block;

}



h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: $c1;
}

p {
  font-size: 2rem;
  color: $c1;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-size: 8px;
}
